* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: whitesmoke;
}

html, body {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

.header{
  background-color: rgb(166, 160, 160);
}

body {
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: whitesmoke;
  border-bottom: 1px whitesmoke;
}

.logo a{
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.search-container {
  flex: 1;
  margin: 0 30px;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px rgb(11, 11, 11);
  border-radius: 4px;
}

.nav-icons span {
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

a{
    text-decoration: none;
}

.watchcontainer{
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.watchcontainer div {
  width: 250px;
  height: auto;
  overflow: hidden;
  padding: 20px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.watchcontainer div:hover {
  transform: scale(1.05);
} 

.watchcontainer img.watch{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.watch{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.watch-name {
  font-size: 18px;
  color: #111;
  margin:10px 0 5px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.cart-btn{  
  background-color: #333;
  color: antiquewhite;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;  
  font-size: 14px;
  transition: background-color 0.3s ease;
}
